/* estilo de la parte nosotros.html */
body {
    background-color: ivory
}

hr {
    border: 0;
    height: 2px;
    background-color: black; /* Cambié a brown para que combine mejor */
    margin: 40px 0;
}

nav {
    color: brown;
}

h2 {
    color:brown;
}

h3 {
    color: brown;
}

.foto-equipo {
    height: 190px;
    width: 140px;
    object-fit: cover;
    border: 3px solid brown;
    border-radius: 50%;
}